.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}

.rounded{
    border-radius: 7px;
}

.p-1{
    padding: 10px;
}


/* Style the scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  /* Track */
 
  
  /* Handle */

  ::-webkit-scrollbar-thumb {
    background: #333; /* Color of the scrollbar handle */
    border-radius: 6px;
  }
  
